<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
   <header>
    <div id="nav">
     <div id="nav1"><img src="/images/logo.png" alt=""></div>
     <div id="nav2"><a href="#">Home</a></div>
     <div id="nav3"><a href="#">Explore</a></div>
     <div id="nav4"><a href="/feed">feed</a></div>
     <div id="nav5"><div><input type="text"></div></div>
     <div id="nav10"><div></div><button type="menu"><p class="font-bold mt-[-2vh]">Your pins</p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#777776" height="1vw" width="1vw" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve" class="mt-[-2.7vh] ml-[8vw]" style=" animation-name: sech;">
         <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
         </svg> </button></div>
     <div id="nav6"><a  href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACP0lEQVR4nO2WT0iVQRTFf+qmiDTtj7gzwqKnrSKTDEEJinAdUbsi2la0VPpHuEgoo3hEIC4kqk2bUlKCotJSoSB3RWU7XUhmBdXTFxfOg+GVz5n5MAg8cBdz7z1n7ndnvpmBZRTGRmAMeLxAfBgYWiD2RNxqIlELTAFZ4JnjN8FO4LViZq+AS3mTPVdsEkiFTr4WeCeBPmA1UAycAX46E+ebxdqVWwr0y/8WqAgp4KaII8BKCd6SLwOkgZ0qzCZqkC+jnF6gSNxR+W6EtD4D/ABq5Lsgkc/A7gLcJuVY7nn5atQZ09zqU0CnBK5rvA34JWv24Lc4+XXypaVp+2RRfFCytdjwSOMr+KNLnEGNGzR+70MeA15oDWud1pcFFLAG+CJuSlovtR+C0JW3HCFIR3TuD3ySyHbCsUPcCSKx2TlIrIWhKHIOsk0xBRwX+TbxuCuNYzHkayKfTFDAKWlcjSEPiLw/QQGt0ngYQ55Isn7OKWgaH0OJW4B5YBYoSVCAcb9Kyza19004rsq7SY4eab3xvRH7RRhXMUmxzvmgBz6E70r2urk8kZLmN5/kPucEOwKsSjCxcY86G/q+D6lC77ysU7X9kueAA0C9NmklsEJWpY7tAg4Cl/Uky3Uzq3G5b+XFwGHgKTBX4Am2mM1J45A0o1AG7AXO6rfM3Q/TzsNjWj6LzSh3X+AV7oV7muTiX2Idit1hCdGotpq1AeuBDXoJ5/y2R5YUp3Wy5a+3+U7wj7BH771Z2YAeo8v4//AbTSnALjSZAIwAAAAASUVORK5CYII="></div>
     <div id="nav7"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA5ElEQVR4nN2VTQ6CMBCFP+UKrgxwAF0IO2Xn0gAbhcRyLjyvpsmYEGilQF3oS95mMn2vzA+Ff8caiIEMyIFamEsslpxZiIASUCMsJdcZKyB1EFY9pnJ2FHPElTBxKYtayNAmvnasuXLoibHxsQdxJdRaA2QeDU4mg6KT0AAPYTMxpmRPBqg7CfrAU9hOjCnRGqDyaFCZDC69ErXCZmLMWqKvN3nr0SAyGQTA3YN4YVu0jafbh1iw9yB+4APOC8WTsd/1bUHNQxxwBK7yJTvpSSDTpcdO74leoPeTqWN6WmY/mb+BF/Zffr6dOhyLAAAAAElFTkSuQmCC"></div>
     <div id="nav8"><img src=""></div>
     <div id="nav9"><a  href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#777776" height="1.5vw" width="1.5vw" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
         <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
         </svg></a> </div>
      <div id="nav11"> <a href="/logout"><i class="ri-shut-down-line"></i></i></a></div>   
    </div>
    <form id="uploadform" hidden  action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image"  >
        <button type="submit">submit</button>
    </form>
    <div id="uploadicon" class="mt-[17vh] ml-[51vw] z-50 bg-zinc-500  w-8 h-8 items-center justify-center rounded-full absolute"><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" style="align-items: center; justify-content:center" fill="currentColor"><path d="M6.41421 15.89L16.5563 5.74785L15.1421 4.33363L5 14.4758V15.89H6.41421ZM7.24264 17.89H3V13.6473L14.435 2.21231C14.8256 1.82179 15.4587 1.82179 15.8492 2.21231L18.6777 5.04074C19.0682 5.43126 19.0682 6.06443 18.6777 6.45495L7.24264 17.89ZM3 19.89H21V21.89H3V19.89Z"></path></svg></div>
    </header>
    <div id="main">
     <div id="page1">
         <div id="userinfo">
         <div id="userimg"><img class="rounded-full w-full h-full  object-cover" src="/images/uploads/<%=users.profileImage %>" alt="" srcset=""></div>
         <div id="username"><%=users.username %></div>
         <div id="userid"> <img id="userimg" src="/images/logo.png" alt=""> @<%= users.username %> </div>
         <div id="follower"> 0 followers</div>
         <div id="buttons">
             <button class="btn" type="button">share</button>
             <button class="btn" type="button">Edit profile</button>
         </div>
     </div>
     <div id="uploadpins" class="absolute scale-0 bg-zinc-400 w-30 h-60 rounded-[10px] left-1/2 top-[35%] p-4 center ">
     <form action="/upload" id="pinup" method="post"  enctype="multipart/form-data" class="flex flex-col gap-3 align-center justify-center">
        <input type="text" name="filecaption" id="in" class="w-fit h-fit bg-zinc-100 rounded"  placeholder="add title" >
        <input type="file" name="file" id="inup"  >
        <button type="submit" class="bg-red-600 w-fit px-3 py-1 text-zinc-100 rounded">submit</button>
     </form>
    </div>
     <button id="pinupbtn" class="bg-red-600 rounded-full ml-[60%] mt-[-100px] "><span class="pl-2 pr-2 pt-2 pb-2 text-[#fff]" ><i class="ri-add-fill"></i></span></button>
     <div id="page2" class="pl-8">
        <h5 class="capitalize text-3xl font-bold">Your pins</h5>
        <div id="post">
        <div id="postcontanier" class="columns-6  w-full h-full columns-">
            <% users.post.forEach((post)=>{ %>
                
                <div id="cards" class="mr-3 h-fit bg-zinc-300 mb-5 w-[100%] inline-top flex flex-col content-center justify-center rounded-2x1 ">
                    <div class="w-[100%]  h-fit bg-zinc-200 rounded-2x1"><img class="w-[135%]   object-cover  rounded-2xl" src="/images/uploads/<%= post.image %>" alt="">
                      
                    </div>
                    
                
                 </div>
           <% }) %>
        </div>
</div>
     </div>
     </div>
    </div>
    <script>
        // document.querySelector("#uploadicon").addEventListener("click",()=>{
        //     document.querySelector('#uploadform input').click();
        // })
        // document.querySelector("#uploadform input").addEventListener("change",()=>{
        //      document.querySelector("#uploadform").submit()
        // })
        
        document.querySelector("#pinupbtn").addEventListener("click",()=>{
            // document.querySelector('#pinup #inup').click();
            document.querySelector("#uploadpins").style.transform = "scale(1)";
        })
        
    </script>      
</body>
</html>