<%- include('header.ejs') %>


<div class="w-full h-screen bg-zinc-200 flex absolute rounded-[50px] flex items-center justify-center z-500999090">
    <div class="w-[38vw] h-[99vh] bg-zinc-100 rounded-[30px] justify-items-center z-888888">
        <h1 class="text-3xl text-center bold font-semibold text-zinc-800 pt-4 font-medium leading-none ml-2 text-center">welcome to pinterest</h1>
        <form action="/register" method="post" class=" justify-center place-items-center  z-199">
            <div class="block mt-[30px] ml-[20%] md-[-190px]  w-[15vw] px-7 ">username</div>
            <input class="block mb-2 mt-[0px]   h-[40px] border:outline-2 ml-[20%]  w-[50%] px-7 py-6  border-none" type="text" name="username" placeholder="username">
            <div class="block mt-[30px] ml-[20%] md-[-190px]  w-[15vw] px-7 ">Email address</div>
            <input class="block mb-2 mt-[0px]   h-[40px] border:outline-2 ml-[20%]  w-[50%] px-7 py-6 " type="email" name="email" placeholder="Email">
            <div class="block mt-[30px] ml-[20%] md-[-190px]  w-[15vw] px-7 ">Password</div>
            <input class="block mb-2 mt-[0px] h-[40px] border:outline-2 ml-[20%]  w-[50%] px-7 py-6" type="password" name="password" placeholder="password">
            <div class="block mt-[30px] ml-[20%] md-[-190px]  w-[15vw] px-7 ">mobile No.</div>
            <input class="block mb-2 mt-[0px]   h-[40px] border:outline-2 ml-[20%]  w-[50%] px-7 py-6  border-none" type="number" name="mobileno" placeholder="mobile number">
          
            <button type="submit" class="block  m-2 ml-[20%] w-[60%] px-3 py-2 bg-red-600 font-bold  text-xl  text-white rounded-full "  ><h4 class="ml-[0%]">sign up</h4></button>
      
        </form>








<%- include('footer.ejs') %>      