@font-face {
    font-family: 'roboto';
    src: url(../Font/roboto/Roboto-Black.ttf)format('truetype') 
    url(../Font/roboto/Roboto-Black.ttf)format('woff');
}


*{
  margin: 0px;
  padding: 0px;
  font-family: 'roboto';

}
form a{
  font-weight:400;
}
form a:hover{
   text-decoration: underline;
   text-decoration-color: rgb(137, 135, 135);

}
